body {
    margin: 0 auto;
    padding: 0;
}
/* google font */
/* .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  } */

  /* .eb-garamond-<uniquifier> {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
.success {
    background-color: rgb(4, 44, 4) !important;
}

.navbar {
    /* background-color: transparent; */
    opacity: 0.9;
    transition: background-color 0.3s ease-in-out;
}

.navbar.sticky-top {
    background-color: #728a57;
    /* Set the background color when sticky */
}

.bg_banner {
    background-color: rgb(147, 184, 147);
}

.carousel_width {
    width: 98%;
    margin: 0 auto;
}

/* card  */

.card {
    height: 450px;
    border: none !important;
    border-radius: 3.25rem !important;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.07)0px 20px 20px, rgba(0, 0, 0, 0.07) 0px 20px 20px,
     rgba(0, 0, 0, 0.07) 0px 20px 20px, rgba(0, 0, 0, 0.07)0px 20px 20px,
      rgba(0, 0, 0, 0.07) 0px 20px 20px;
}

.card_title_text{
    background-color: #68c500;
    padding: 2px 8px;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
}
.knowMore_btn_container {
    margin-top: 20px;
    text-align: center;
   
}

.Know_more_btn {
    background-color: #3b7000;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 0px 10px 5px;
}

.Know_more_btn:hover {
    color:#162900;
}
#carousel-control-prev{
    left: 40px;
    top: 60px;
}
.carousel-control-prev-icon {
    background-color:green;
    border-radius: 50% ;
    padding: 25px;
}
#carousel-control-next{
    right: 40px;
    top: 60px;
}
.carousel-control-next-icon {
    background-color:green;
    border-radius: 50% ;
    padding: 25px;
}
/* benifits */
.img-card{
    padding: 5px;
}
.go_back{
    text-decoration: none;
    color: #7cca23;
}
.go_back:hover{
    color: #89ff03 !important;
}